body.elements {
  background-color: #2A4108;
  color: #272200;
  font-size: 120%;
  background-image: none;
}

#elements-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}

.element-card {
  margin: 20px 0px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.element-card img {
  position: absolute;
  top: -40px;
  opacity: .6;
  z-index: -1;
  width: 100%;
  transition: opacity .3s
}

.element-card-links {
  padding: 5px;
  color: white;
  list-style: none;
  padding-left: 20px;
  background: 
    linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, .6)
    );
}

.element-card-links:hover + img {
  opacity: .9;
}

.element-card-links a {
  color: white;
}