<header>
  <div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <%= login_link_or_header_buttons %>
      </ul>
    </div>
  </div>
</header>
